body {
  margin: 5rem auto;
  text-align: center;
}

img {
  width: minmax(450px, 50vw);
  display: block;
  margin: auto;
}

div {
  margin: 2rem auto;
}

label {
  display: block;
  margin-left: auto;
}
